* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vw;
}

.all {
    /* position: relative; */
    min-height: 100vh;
    width: 100vw;
}

.green-box {
    background-color: #345C31;
    min-width: 100vw;
    height: calc(7vw + 7vh);
    position: absolute;
}

#title-header {
    text-align: center;
    position: relative;
    top: calc(1vw + 1vh);
    color: white;
    font-size: calc(4vw + 4vh); 
    -webkit-text-stroke: .03vw black; 
    font-family: 'Patua One', cursive;
}

.buttons {
    text-align: center;
}

#button-1 {
    text-align: center;
    top: calc(8vw + 8vh);
    right: calc(2vw + 2vh); 
    background-color: #588E54;
    color: white;
    -webkit-text-stroke: calc(.08vw + .08vh) black;
    font-family: 'Patua One', cursive;
    font-size: calc(2.5vh + 2.5vw);
    position: absolute;
    border-radius: 1vh;
    padding-left: calc(7vw + 7vh);
    padding-right: calc(7vw + 7vh);
}

#button-2 {
    text-align: center;
    top: calc(13vw + 13vh);
    right: calc(2vw + 2vh);
    background-color: #588E54;
    color: white;
    -webkit-text-stroke: calc(.08vw + .08vh) black;
    font-family: 'Patua One', cursive;
    font-size: calc(2.5vh + 2.5vw);
    position: absolute;
    border-radius: 1vh;
    padding-left: calc(5.20vh + 5.20vw);
    padding-right: calc(5.20vh + 5.20vw);
}

#button-3 {
    text-align: center;
    top: calc(18vw + 18vh);
    right: calc(2vw + 2vh);
    background-color: #588E54;
    color: white;
    -webkit-text-stroke: calc(.08vw + .08vh) black;
    font-family: 'Patua One', cursive;
    font-size: calc(2.5vh + 2.5vw);
    position: absolute;
    border-radius: 1vh;
    padding-left: calc(5.60vh + 5.60vw);
    padding-right: calc(5.60vh + 5.60vw);
}

#button-4 {
    text-align: center;
    top: calc(23vw + 23vh);
    right: calc(2vw + 2vh);
    background-color: #588E54;
    color: white;
    -webkit-text-stroke: calc(.08vw + .08vh) black;
    font-family: 'Patua One', cursive;
    font-size: calc(2.5vh + 2.5vw);
    position: absolute;
    border-radius: 1vh;
    padding-left: calc(1.5vh + 1.5vw);
    padding-right: calc(1.5vh + 1.5vw);
}

#button-5 {
    text-align: center;
    top: calc(28vw + 28vh);
    right: calc(2vw + 2vh);
    background-color: #588E54;
    color: white;
    -webkit-text-stroke: calc(.08vw + .08vh) black;
    font-family: 'Patua One', cursive;
    font-size: calc(2.5vh + 2.5vw);
    position: absolute;
    border-radius: 1vh;
    padding-left: calc(3.175vh + 3.175vw);
    padding-right: calc(3.175vh + 3.175vw);
    /* margin-bottom: calc(1vw + 1vh); */
}

.vids {
    width: 100%;
    height: auto;
}

video {
    width: 100vw;
    height: calc(33vw + 33vh);
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: calc(7vw + 7vh);
    left: 0;
    width: 100%;
    height: calc(26vw + 26vh);
    background-color: rgba(255, 255, 255, 0.6);
}

.welcome {
    position: absolute;
    color: black;
    font-family: 'Poppins', sans-serif;
    top: calc(8.5vh + 8.5vw);
    font-size: 2.5vw;
    left: 8vw;
    text-align: center;
}

.grey-box {
    background-color: #333333;
    position: absolute;
    top: calc(33vw + 33vh);
    padding-bottom: 15vh;
    left: 0;
    bottom: 0;
    right: 0;
}

#address-and-number {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateY(calc(1.5vh + 1.5vw));
    padding-left: calc(3vw + 3vh);
    padding-right: calc(3vw + 3vh);
}

.photos {
    position: absolute;
    /* background-color: #588E54; */
    height: auto;
    width: 46vw;
    top: calc(14vw + 14vh);
    left: 9.25vw;
}

img {
    width: 45vw;
    /* height: auto; */
    /* top: calc(33vw + 33vh); */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: calc(.3vw + .3vh);
    position: relative;
    border: calc(.35vw + .35vh) solid #588E54;
    /* border-width: 1vw; */

}